@keyframes scale {
  from {
    scale: 1;
  }

  to {
    scale: 1.05;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.like-icon__core {
  fill: var(--background-color);
  transition: fill 0.3s 0.03s;
}

.card__icon-button:hover .like-icon__core {
  fill: var(--contour-color);
  transition: fill 0.3s;
}

.card__icon-button:active .like-icon__core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s;
}

.like-icon.is-liked .like-icon__core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s;
}

.like-icon__main-body {
  fill: var(--background-color);
  transition: fill 0.3s;
}

.card__icon-button:hover .like-icon__main-body {
  fill: var(--contour-color);
  transition: fill 0.3s 0.05s;
}

.card__icon-button:active .like-icon__main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .like-icon__main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s;
}

.like-icon .like-icon__contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .like-icon__contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s;
}

.like-icon.is-liked .like-icon__heart {
  animation: scale 0.3s 0.1s ease-in;
}

.like-icon.is-liked .like-icon__sparks {
  animation: show 0.3s 0.3s ease-in;
}

.like-icon__sparks {
  opacity: 0;
}
